@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Henry Matsen";
}


<!-- #2 A Header that lists your preferred name-->
<div class="hero-text">
    <h1>Perferred Name:</h1>
    <h1>Henry</h1>
</div>
<!-- #3 A picture of yourself doing something you enjoy -->
<img class="hero-image" src="img/headerImg.jpg" alt="img of me doing something fun" />
<div class="finePrint">
    <p>*I like to travel, be outside, and hangout with friends (all pictured above)</p>
</div>

<section>
    <!-- #4 A paragraph on whay you hope to get out of this IS 413 class -->
    <div>
        <h2>What I hope to get out of this class: </h2>
        <p>I want to advance further into full stack development and have a good handle on C#. I also want to learn react (specifically animations)</p>
    </div>

    <!-- #5 A list of the Top #3 jobs you are most interested in pursuing when you graduate-->
    <div>
        <h2>Top #3 Jobs: </h2>
        <ol>
            <li>Full Stack Software Development</li>
            <li>Technical Analyst/Consulting</li>
            <li>Web Developer</li>
        </ol>
    </div>

    <!-- #6 A "Grade Calculator" for that takes as input a percentage scored for each grade category listed in the syllabus-->
    
</section>

    

